.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box-signin {
  width: 338px;
  padding: 20px 0px;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box-header {
  padding: 0px 20px;
  background-color: white;
}

.your-account {
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
  gap: 10px;
  align-items: center;
  background-color: grey;
  position: relative;
  border-top: dotted black 1px;
  border-bottom: dotted black 1px;
}

.signin-area {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.option {
  position: absolute;
  right: 20px;
}

.icon {
  height: 30px;
  width: 30px;
}

.add-account {
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
  gap: 10px;
  align-items: center;
  background-color: white;
}
